p {
	color: black;
}
/*header*/
header {
	margin: 0 30px 37px 30px;
}
header ul {
	margin-top: 43px;
}
/*carousel*/
.carousel img {
  	background-size: cover;
  	width: 100%;
}
/*footer*/
#contacto {
	padding: 0;
  	text-align: center;
}
#contacto li {
	list-style: none;
}